

body {
  padding: 60px;
  font-family: 'Lato', sans-serif;
  background: #353535;
  color: #FFF;
}

a {
  color: rgb(80, 80, 255);
    margin: 2px 140px;
}

.buttonR {
    background-color: rgb(207, 241, 183);
    color: black;
    padding: 6px 10px;
    font-size:15px;
    text-align: center;
    border: 1px solid #353535;
    transition-duration: 0.7s;
    margin: 4px 135px;
    display: inline-block;
    cursor: pointer;
}

.buttonR:hover {
    background-color: #f44336;
    color: white;
}
